<ng-container
  *ngIf="pendingOrderType$ | async as orderType; else loadingOrders"
>
  <app-order-list
    *ngIf="pendingOrders$ | async as orders; else loadingOrders"
    [orders]="orders"
    [actions]="getOrderActions(orderType)"
    [showTotalPrice]="false"
  >
    <ng-template
      #customOrderDetails
      let-order
      [typedTemplate]="ORDER_TYPE_TEMPLATE"
    >
      <div class="mat-subtitle-1">
        Commission: {{ order.data.commission | price }}
      </div>
      <div
        *ngIf="orderType == 'HISTORY' && order.data.orderStatus == 'BREWING'"
        class="in-progress mat-subtitle-1"
      >
        <mat-icon color="warn">sync</mat-icon>
        In Progress
      </div>
    </ng-template>
  </app-order-list>
</ng-container>
<ng-template #loadingOrders>
  <div class="loading">
    <i>Loading orders...</i>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</ng-template>
