<div class="container" *ngIf="orderItems.length; else emptyCart">
  <div class="cart">
    <mat-grid-list
      cols="1"
      rowHeight="450px"
      *ngIf="productMap$ | async as productMap; else loadingProducts"
    >
      <mat-grid-tile
        *ngFor="
          let product of expandOrderItems(orderItems, productMap);
          let index = index
        "
      >
        <mat-card class="product-card">
          <mat-card-header>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>${{ product.basePrice }}.00</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="product.imageUrl" />
          <mat-card-content>
            <div>
              Coffee: {{ convertCoffeeTypeToString(product.coffeeType) }}
            </div>
            <div *ngIf="product.milkType">
              Milk: {{ convertMilkTypeToString(product.milkType) }}
            </div>
            <div *ngIf="product.additions?.length">
              {{ product.additions!.length | i18nPlural : additionsMapping }}
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              routerLink="/customize-product"
              [state]="{ product: product, orderItem: orderItems[index] }"
            >
              Customize
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="removeFromCart(index)"
            >
              Remove
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="order-details">
    <div class="inner-order-details">
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
        <mat-form-field appearance="outline">
          <mat-label>Delivery Time</mat-label>
          <input
            matInput
            type="time"
            placeholder="Time"
            formControlName="deliveryTime"
          />
          <mat-error
            *ngIf="orderForm.get('deliveryTime')!.hasError('futureTime')"
            >{{ FUTURE_TIME_ERROR }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Delivery Location</mat-label>
          <mat-select formControlName="deliveryLocation">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="
                let location of savedLocations$ | async;
                let index = index
              "
              [value]="location"
            >
              {{ location.name || location.streetAddress }}
            </mat-option>
            <mat-option
              (onSelectionChange)="onSelectCreateLocation($event.source)"
            >
              <mat-icon>add_circle_outlined</mat-icon>
              <i>Add New Location</i>
            </mat-option>
          </mat-select>
          <mat-spinner
            matSuffix
            *ngIf="savingLocation"
            class="saving-location"
          ></mat-spinner>
          <mat-hint *ngIf="deliveryLocationControl.value || savingLocation">{{
            savingLocation
              ? "Saving Location..."
              : (deliveryLocationControl.value | locationAddress)
          }}</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Payment</mat-label>
          <mat-select formControlName="payment">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="
                let paymentMethod of savedPaymentMethods$ | async;
                let index = index
              "
              [value]="paymentMethod"
            >
              {{ paymentMethod.cardNumber.slice(-4) }}
            </mat-option>
            <mat-option
              (onSelectionChange)="onSelectCreatePaymentMethod($event.source)"
            >
              <mat-icon>add_circle_outlined</mat-icon>
              <i>Add New Payment Method</i>
            </mat-option>
          </mat-select>
          <mat-spinner
            matSuffix
            *ngIf="savingPaymentMethod"
            class="saving-payment-method"
          ></mat-spinner>
          <mat-hint *ngIf="savingPaymentMethod">
            Saving Payment Method...
          </mat-hint>
        </mat-form-field>

        <button
          mat-raised-button
          type="submit"
          [disabled]="!orderForm.valid || loadingProductMap || submittingOrder"
          [hidden]="submittingOrder"
        >
          Place Order
        </button>
        <mat-progress-bar
          mode="indeterminate"
          class="submitting-order"
          *ngIf="submittingOrder"
        ></mat-progress-bar>
      </form>
    </div>
  </div>
</div>
<ng-template #loadingProducts>
  <div class="loading-cart">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
<ng-template #emptyCart>
  <div class="empty-cart-container">
    <span class="text">Your cart is empty</span>
    <button mat-raised-button routerLink="/">View Products</button>
  </div>
</ng-template>
