.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;

  .cart {
    overflow: auto;
  }

  .order-details {
    height: 100%;
    overflow: auto;
    align-self: center;

    .inner-order-details {
      width: min-content;
      min-width: 20em;
      margin: auto;
      padding-top: 1em;
      text-align: center;

      mat-form-field {
        width: 100%;
      }

      mat-spinner.saving-location,
      mat-spinner.saving-payment-method {
        width: 24px !important;
        height: 24px !important;
        margin: 0 3px;
      }

      mat-progress-bar.submitting-order {
        margin-bottom: 1em;
      }
    }
  }
}

.empty-cart-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text {
    margin-bottom: 0.5em;
    font-style: italic;
  }
}
