<div class="container" *ngIf="cartHasItems(); else emptyCart">
  <div class="cart">
    <app-order-item-list
      [orderItems]="orderItems"
      [actions]="ORDER_ITEM_ACTIONS"
      (totalPrice)="totalPrice = $event"
    ></app-order-item-list>
  </div>
  <div class="order-details">
    <div class="inner-order-details">
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
        <mat-form-field appearance="outline">
          <mat-label>Delivery Time</mat-label>
          <input
            matInput
            type="time"
            placeholder="Time"
            formControlName="deliveryTime"
          />
          <mat-error
            *ngIf="orderForm.get('deliveryTime')!.hasError('futureTime')"
            >{{ FUTURE_TIME_ERROR }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Delivery Location</mat-label>
          <mat-select formControlName="deliveryLocation">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="
                let location of savedLocations$ | async;
                let index = index
              "
              [value]="location"
            >
              {{ location.name || location.streetAddress }}
            </mat-option>
            <mat-option
              (onSelectionChange)="onSelectCreateLocation($event.source)"
            >
              <mat-icon>add_circle_outlined</mat-icon>
              <i>Add New Location</i>
            </mat-option>
          </mat-select>
          <mat-spinner
            matSuffix
            *ngIf="savingLocation"
            class="saving-location"
          ></mat-spinner>
          <mat-hint *ngIf="deliveryLocationControl.value || savingLocation">{{
            savingLocation
              ? "Saving Location..."
              : (deliveryLocationControl.value | locationAddress)
          }}</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Payment</mat-label>
          <mat-select formControlName="payment">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="
                let paymentMethod of savedPaymentMethods$ | async;
                let index = index
              "
              [value]="paymentMethod"
            >
              {{ paymentMethod.cardNumber.slice(-4) }}
            </mat-option>
            <mat-option
              (onSelectionChange)="onSelectCreatePaymentMethod($event.source)"
            >
              <mat-icon>add_circle_outlined</mat-icon>
              <i>Add New Payment Method</i>
            </mat-option>
          </mat-select>
          <mat-spinner
            matSuffix
            *ngIf="savingPaymentMethod"
            class="saving-payment-method"
          ></mat-spinner>
          <mat-hint *ngIf="savingPaymentMethod">
            Saving Payment Method...
          </mat-hint>
        </mat-form-field>

        <div
          class="footer"
          *ngIf="!submittingOrder; else submittingOrderSpinner"
        >
          <mat-chip>
            <mat-icon matChipAvatar>paid</mat-icon>
            <span *ngIf="totalPrice; else calculatingPrice">{{
              totalPrice | price : false
            }}</span>
            <ng-template #calculatingPrice>
              <mat-spinner diameter="20"></mat-spinner>
            </ng-template>
          </mat-chip>
          <button
            mat-raised-button
            type="submit"
            [disabled]="!orderForm.valid || submittingOrder"
          >
            Place Order
          </button>
        </div>
        <ng-template #submittingOrderSpinner>
          <mat-progress-bar
            mode="indeterminate"
            class="submitting-order"
            *ngIf="submittingOrder"
          ></mat-progress-bar>
        </ng-template>
      </form>
    </div>
  </div>
</div>
<ng-template #emptyCart>
  <div class="empty-cart-container">
    <span class="text">Your cart is empty</span>
    <button mat-raised-button routerLink="/">View Products</button>
  </div>
</ng-template>
