<mat-grid-list
  *ngIf="products$ | async as products"
  [cols]="columns"
  [rowHeight]="actions ? '32em' : '28em'"
>
  <mat-grid-tile *ngFor="let product of products; let index = index">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{
          product | productPrice : [] : true
        }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="product.imageUrl" />
      <mat-card-actions *ngIf="actions">
        <ng-container *ngFor="let action of actions">
          <button
            mat-raised-button
            *ngIf="!action.onlyIf || action.onlyIf(product, index)"
            [color]="action.color"
            (click)="onClick(action, product, index)"
          >
            {{ action.buttonText }}
          </button>
        </ng-container>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
