.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;

  .product {
    max-width: min(400px, 30vw);
    margin: auto;
    margin-right: 5em;
  }

  .product-details {
    padding: 1em 0;
    overflow: auto;
    display: flex;

    .inner-product-details {
      width: min-content;
      margin: auto;
      text-align: center;

      div.toggle-group-holder {
        margin-bottom: 0.5em;

        label {
          padding-right: 0.5em;
          white-space: nowrap;
        }
      }

      mat-button-toggle-group {
        border-radius: 1em;
      }

      mat-spinner.loading-additions {
        width: 24px !important;
        height: 24px !important;
        margin: 0 3px;
      }

      mat-chip-set.selected-additions {
        width: min-content;
        margin: auto;
      }
    }
  }
}
