<div class="new-addition" color="primary">
  <h2>New Addition</h2>
  <form
    [formGroup]="additionForm"
    (ngSubmit)="onSubmitAddition(additionForm.value)"
  >
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <span matTextPrefix>$&nbsp;</span>
      <input
        matInput
        type="number"
        formControlName="price"
        step="0.01"
        min="0"
      />
    </mat-form-field>
    <mat-slide-toggle
      #toggle
      formControlName="enabled"
      labelPosition="before"
      >{{ toggle.checked ? "Enabled" : "Disabled" }}</mat-slide-toggle
    >
    <br />
    <button
      *ngIf="!submittingChange; else waitingForChange"
      mat-raised-button
      type="submit"
      [disabled]="!additionForm.valid || submittingChange"
    >
      Save
    </button>
    <ng-template #waitingForChange>
      <mat-progress-bar
        mode="indeterminate"
        class="submitting-order"
      ></mat-progress-bar>
    </ng-template>
  </form>
</div>
