#addition-form {
  width: fit-content;
  text-align: center;

  padding: 1em;
  margin: 1em auto;
  border: 1px solid black;
  border-radius: 1em;

  h2 {
    text-align: left;
  }

  mat-form-field {
    margin-right: 1em;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
}

.existing-additions {
  width: fit-content;
  margin: 1em auto;
}

mat-progress-bar.loading-additions {
  max-width: 15em;
  margin: 0 auto;
}
