<div class="container">
  <div class="product">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>Mocha</mat-card-title>
        <mat-card-subtitle>$5.00</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://globalassets.starbucks.com/assets/915736da018842e788147f7eab73db73.jpg?impolicy=1by1_tight_288"
      />
    </mat-card>
  </div>
  <div class="product-details">
    <div class="inner-product-details">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
        <div class="toggle-group-holder">
          <label for="coffeeType">Coffee Type:</label>
          <mat-button-toggle-group formControlName="coffeeType">
            <mat-button-toggle value="regular">Regular</mat-button-toggle>
            <mat-button-toggle value="decaf">Decaf</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="toggle-group-holder">
          <label for="coffeeType">Milk Type:</label>
          <mat-button-toggle-group formControlName="milkType">
            <mat-button-toggle value="regular">Regular</mat-button-toggle>
            <mat-button-toggle value="almond">Almond</mat-button-toggle>
            <mat-button-toggle value="oat">Oat</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>add_circle_outlined</mat-icon>
          <input
            matInput
            [placeholder]="additions ? 'Additions' : 'Loading Additions...'"
            [matAutocomplete]="auto"
            formControlName="additionEntry"
          />
          <mat-icon *ngIf="additions; else loadingAdditions" matSuffix>
            search
          </mat-icon>
          <ng-template #loadingAdditions>
            <mat-spinner matSuffix class="loading-additions"></mat-spinner>
          </ng-template>
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onSelectAddition($event)"
          >
            <mat-option
              *ngFor="let addition of filteredAdditions | async"
              [value]="addition.id"
            >
              <span>{{ addition.name }}</span> |
              <small>Price: {{ addition.price }}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-chip-set
          class="mat-mdc-chip-set-stacked selected-additions"
          formArrayName="additions"
        >
          <mat-chip
            *ngFor="let addition of selectedAdditions.controls; let i = index"
            (removed)="onRemoveAddition(i)"
          >
            {{ addition.value }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-set>

        <button mat-raised-button type="submit" [disabled]="!productForm.valid">Add to Cart</button>
      </form>
    </div>
  </div>
</div>
