<div class="container">
  <div class="product">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>Mocha</mat-card-title>
        <mat-card-subtitle>$5.00</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://globalassets.starbucks.com/assets/915736da018842e788147f7eab73db73.jpg?impolicy=1by1_tight_288"
      />
    </mat-card>
  </div>
  <div class="product-details">
    Coffee Type:
    <mat-button-toggle-group>
      <mat-button-toggle value="regular">Regular</mat-button-toggle>
      <mat-button-toggle value="decaf">Decaf</mat-button-toggle>
    </mat-button-toggle-group>
    <br />
    Milk Type:
    <mat-button-toggle-group>
      <mat-button-toggle value="regular">Regular</mat-button-toggle>
      <mat-button-toggle value="almond">Almond</mat-button-toggle>
      <mat-button-toggle value="oat">Oat</mat-button-toggle>
    </mat-button-toggle-group>
    <br />
    <i>More to be added soon...</i>
  </div>
</div>
