<h2 mat-dialog-title>Create New Location</h2>
<mat-dialog-content>
  <form [formGroup]="locationForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Street Address</mat-label>
      <input matInput type="text" formControlName="streetAddress" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput type="text" formControlName="city" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <mat-select formControlName="state">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let state of states" [value]="state.abbreviation">
          {{state.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="no-padding">
      <mat-label>Zip Code</mat-label>
      <input matInput type="text" formControlName="zip" />
    </mat-form-field>
    <button type="submit" hidden [disabled]="!locationForm.valid">Submit</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button
    #saveButton
    mat-button
    (click)="submitForm()"
    [disabled]="!locationForm.valid"
  >
    Save
  </button>
</mat-dialog-actions>
