<div class="page-container" *ngIf="userInformation; else loginScreen">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="mainMenu.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="text-link" routerLink="/">Coffee Delivery Service</a>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button routerLink="/cart">
      <mat-icon
        [matBadge]="cartSize"
        [matBadgeHidden]="cartEmpty"
        matBadgeColor="accent"
      >
        shopping_cart
      </mat-icon>
    </button>
    <button mat-icon-button (click)="secondaryMenu.toggle()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container hasBackdrop="true">
    <ng-template
      #menuLinkTemplate
      let-link
      [typedTemplate]="MENU_LINK_TYPE_TEMPLATE"
    >
      <mat-list-item
        *ngIf="!link.show || link.show()"
        routerLinkActive
        [routerLink]="link.routerLink"
        #linkRla="routerLinkActive"
        [activated]="linkRla.isActive"
        (click)="mainMenu.close(); secondaryMenu.close()"
      >
        <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
        <a matListItemTitle class="text-link">{{ link.name }}</a>
      </mat-list-item>
    </ng-template>
    <ng-template
      #menuCategoryTemplate
      let-category
      [typedTemplate]="MENU_CATEGORY_TYPE_TEMPLATE"
    >
      <ng-container *ngIf="!category.show || category.show()">
        <mat-divider *ngIf="category.includeDivider"></mat-divider>
        <div class="title mat-headline-6">{{ category.title }}</div>
        <ng-container *ngFor="let link of category.links">
          <ng-container
            *ngTemplateOutlet="menuLinkTemplate; context: { $implicit: link }"
          ></ng-container>
        </ng-container>
      </ng-container>
    </ng-template>
    <ng-template
      #menuItemsTemplate
      let-menuItems
      [typedTemplate]="MENU_ITEMS_TYPE_TEMPLATE"
    >
      <mat-nav-list>
        <ng-container *ngFor="let menuItem of menuItems">
          <ng-container
            *ngTemplateOutlet="
              menuItem.type == 'LINK' ? menuLinkTemplate : menuCategoryTemplate;
              context: { $implicit: menuItem }
            "
          ></ng-container>
        </ng-container>
      </mat-nav-list>
    </ng-template>

    <mat-drawer #mainMenu class="menu" mode="over" position="start">
      <ng-container
        [ngTemplateOutlet]="menuItemsTemplate"
        [ngTemplateOutletContext]="{ $implicit: mainMenuItems }"
      ></ng-container>
    </mat-drawer>
    <mat-drawer #secondaryMenu class="menu" mode="over" position="end">
      <div class="title mat-headline-6">
        Welcome back, {{ userInformation.name }}!
      </div>
      <ng-container
        [ngTemplateOutlet]="menuItemsTemplate"
        [ngTemplateOutletContext]="{ $implicit: secondaryMenuItems }"
      ></ng-container>

      <div class="centered">
        <button mat-raised-button color="primary" (click)="logout()">
          Log Out
        </button>
      </div>
    </mat-drawer>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
<ng-template #loginScreen>
  <div class="login-screen">
    <mat-toolbar color="primary" class="toolbar">
      <a class="text-link" routerLink="/">Coffee Delivery Service</a>
    </mat-toolbar>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="content">
      <div class="mat-headline-5 centered">
        Welcome to the Coffee Delivery Service!
        <br />
        Log in to continue
      </div>
      <mat-form-field appearance="outline" class="small-padding">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="small-padding">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="!loginForm.valid">
        Login
      </button>
    </form>
  </div>
</ng-template>
