<div class="page-container" *ngIf="apiKey; else enterApiKey">
  <mat-toolbar color="primary" class="toolbar">
    <button *ngIf="menuType" mat-icon-button (click)="mainMenu.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="text-link" routerLink="/">Coffee Delivery Service</a>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button routerLink="/cart">
      <mat-icon
        [matBadge]="cartSize"
        [matBadgeHidden]="cartEmpty"
        matBadgeColor="accent"
      >
        shopping_cart
      </mat-icon>
    </button>
    <button mat-icon-button (click)="secondaryMenu.toggle()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container hasBackdrop="true">
    <mat-drawer #mainMenu class="menu" mode="over" position="start">
      <mat-nav-list>
        <mat-list-item
          routerLinkActive
          routerLink="/products"
          #productsRla="routerLinkActive"
          [activated]="productsRla.isActive"
          (click)="mainMenu.close(); secondaryMenu.close()"
        >
          <mat-icon matListItemIcon>coffee</mat-icon>
          <a matListItemTitle class="text-link">Products</a>
        </mat-list-item>
        <mat-list-item
          routerLinkActive
          routerLink="/cart"
          #cart="routerLinkActive"
          [activated]="cart.isActive"
          (click)="mainMenu.close(); secondaryMenu.close()"
        >
          <mat-icon matListItemIcon>shopping_cart</mat-icon>
          <a matListItemTitle class="text-link">Cart</a>
        </mat-list-item>
        <ng-container *ngIf="actingRole == 'DELIVERER'">
          <mat-divider></mat-divider>
          <div class="title mat-headline-6">Deliverer Console</div>
          <mat-list-item
            routerLinkActive
            routerLink="/delivery/available"
            #availableDeliveriesRla="routerLinkActive"
            [activated]="availableDeliveriesRla.isActive"
            (click)="mainMenu.close(); secondaryMenu.close()"
          >
            <mat-icon matListItemIcon>local_shipping</mat-icon>
            <a matListItemTitle class="text-link">Available Deliveries</a>
          </mat-list-item>
          <mat-list-item
            routerLinkActive
            routerLink="/delivery/history"
            #pastDeliveriesRla="routerLinkActive"
            [activated]="pastDeliveriesRla.isActive"
            (click)="mainMenu.close(); secondaryMenu.close()"
          >
            <mat-icon matListItemIcon>history</mat-icon>
            <a matListItemTitle class="text-link">Delivery History</a>
          </mat-list-item>
        </ng-container>
        <ng-container *ngIf="actingRole == 'ADMIN'">
          <mat-divider></mat-divider>
          <div class="title mat-headline-6">Administrative Console</div>
          <mat-list-item
            routerLinkActive
            routerLink="/admin/products"
            #adminProductsRla="routerLinkActive"
            [activated]="adminProductsRla.isActive"
            (click)="mainMenu.close(); secondaryMenu.close()"
          >
            <mat-icon matListItemIcon>coffee</mat-icon>
            <a matListItemTitle class="text-link">Products</a>
          </mat-list-item>
          <mat-list-item
            routerLinkActive
            routerLink="/admin/additions"
            #adminAdditionsRla="routerLinkActive"
            [activated]="adminAdditionsRla.isActive"
            (click)="mainMenu.close(); secondaryMenu.close()"
          >
            <mat-icon matListItemIcon>add_box</mat-icon>
            <a matListItemTitle class="text-link">Additions</a>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer #secondaryMenu class="menu" mode="over" position="end">
      <div class="title mat-headline-6" *ngIf="userInformation">
        Welcome back, {{ userInformation.name }}!
      </div>
      <div id="api-key">
        <mat-form-field appearance="outline" class="small-padding">
          <mat-label>API Key</mat-label>
          <input matInput type="password" [(ngModel)]="apiKey" />
        </mat-form-field>
      </div>
      <div
        class="toggle-group-holder"
        *ngIf="(userInformation?.roles?.length || 0) > 1"
      >
        <mat-button-toggle-group [(ngModel)]="actingRole">
          <mat-button-toggle
            *ngFor="let roleType of userInformation!.roles"
            [value]="roleType"
            #roleToggle
          >
            <mat-icon *ngIf="roleToggle.checked" color="primary">
              check
            </mat-icon>
            {{ convertUserRoleToString(roleType) }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <mat-nav-list>
        <mat-list-item
          routerLinkActive
          routerLink="/favorites"
          #favoriteRla="routerLinkActive"
          [activated]="favoriteRla.isActive"
          (click)="mainMenu.close(); secondaryMenu.close()"
        >
          <mat-icon matListItemIcon>favorite</mat-icon>
          <a matListItemTitle class="text-link">Favorites</a>
        </mat-list-item>
        <mat-list-item
          routerLinkActive
          routerLink="/history"
          #historyRla="routerLinkActive"
          [activated]="historyRla.isActive"
          (click)="mainMenu.close(); secondaryMenu.close()"
        >
          <mat-icon matListItemIcon>history</mat-icon>
          <a matListItemTitle class="text-link">Order History</a>
        </mat-list-item>
      </mat-nav-list>

      <div class="centered">
        <button mat-raised-button color="primary" (click)="logout()">
          Log Out
        </button>
      </div>
    </mat-drawer>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
<ng-template #enterApiKey>
  <div class="enter-api-key">
    <div>Enter an API key to continue</div>
    <mat-form-field appearance="outline" class="small-padding">
      <mat-label>API Key</mat-label>
      <input matInput type="password" [(ngModel)]="apiKey" />
    </mat-form-field>
  </div>
</ng-template>
