<ng-container
  *ngIf="deliveryOrderType$ | async as orderType; else loadingOrders"
>
  <app-order-list
    *ngIf="deliveryOrders$ | async as orders; else loadingOrders"
    [orders]="orders"
    [actions]="getOrderActions(orderType)"
    [showTotalPrice]="false"
  >
    <ng-template
      #customOrderDetails
      let-order
      [typedTemplate]="ORDER_TYPE_TEMPLATE"
    >
      <div class="mat-subtitle-2">
        Pick Up: {{ order.data.preparedLocation | locationAddress }}
        <br />
        Delivery: {{ order.data.preparedLocation | locationAddress }} ({{
          order.data.deliveryTime | date : "shortTime"
        }})
      </div>
      <div class="mat-subtitle-1">
        Delivery Fee: {{ order.data.deliveryFee | price }}
      </div>
    </ng-template>
  </app-order-list>
</ng-container>
<ng-template #loadingOrders>
  <div class="loading">
    <i>Loading orders...</i>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</ng-template>
